// COLORS
$color-dark-pink: #ba4270;
$color-water-white: #fbfcfe;
$color-juan-blue: #36536b;
$color-mirage-blue: #1b262f;
$color-charm-pink: #da6d97;
$color-pink-shadow: rgba(186, 66, 112, 0.25);
$color-light-blue: #6c8294;
$color-white: #fff;
$color-gray: #edf3f8;


// FONTS
$title-fonts: "Serif Display", "Georgia", serif;
$text-fonts: "Public Sans", "Arial", sans-serif;
