.sitenav {
    margin-right: auto;
    ul {
        display: flex;
        align-items: center;
    }
    li:not(:last-child) {
        margin-right: 4rem;
        @include responsive(table) {
            margin-right: 2rem;
        }
    }
    a {
        font-weight: 700;
        line-height: 1.16;
        color: $color-juan-blue;
        filter: opacity(70%);
    }
}

.header__nav {
    @include responsive(phone) {
        display: none;
    }
    a {
        position: relative;
        transition: all 0.4s;
    }
    a::after {
        content: "";
        width: 0%;
        height: 3px;
        background-color: $color-dark-pink;
        position: absolute;
        bottom: -6px;
        left: 50%;
        transition: all 0.4s;
    }
    a:hover::after {
        width: 50%;
    }
    a::before {
        content: "";
        width: 0%;
        height: 3px;
        background-color: $color-dark-pink;
        position: absolute;
        bottom: -6px;
        right: 50%;
        transition: all 0.4s;
    }
    a:hover::before {
        width: 50%;
    }
    a:hover{
        color: $color-dark-pink;
    }
    a:active{
        opacity: 0.6;
    }
}

// REMOVE
.toggle {
    transform: translateX(0%);
    transition: all 0.6s ease;
}
.remove {
    transform: translateX(-100%);
    transition: all 0.6s ease;
}
.right-nav {
    width: 60vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-mirage-blue;
    padding: 2rem;
    i {
        filter: invert(1);
    }
    a {
        position: relative;
        transition: all 0.4s;
    }
    a::after {
        content: "";
        width: 0%;
        height: 3px;
        background-color: $color-dark-pink;
        position: absolute;
        bottom: -6px;
        left: 50%;
        transition: all 0.4s;
    }
    a:hover::after {
        width: 50%;
    }
    a::before {
        content: "";
        width: 0%;
        height: 3px;
        background-color: $color-dark-pink;
        position: absolute;
        bottom: -6px;
        right: 50%;
        transition: all 0.4s;
    }
    a:hover::before {
        width: 50%;
    }
    a:hover{
        color: $color-dark-pink;
    }
    a:active{
        opacity: 0.6;
    }
}
.right-nav  {
    .header__btn {
        display: block !important;
        &:hover {
            color: $color-water-white;
            background-color: $color-dark-pink;

        }
    &::after {
        height: 0;
    }
    &::before {
        height: 0;
    }
    }
}
.right-nav ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right-nav li {
    font-weight: 700;
    line-height: 1.16;
    color: $color-water-white;
}
.right-nav li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3rem;
}
.right-nav a {
    font-size: 2.1rem;
}
.right-nav-btn {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 3rem;
    position: absolute;
    top: 30px;
    right: 30px;
    transition: all 0.2s;
    &:hover {
        transform: rotate(90deg);
    }
}
@include responsive(litle-phone) {
    .right-nav {
        width: 100vw;
        height: 100vh;
    }
}



